.nav-sidebar { 
    width: 100%;
    padding: 0; 
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px; 
    -moz-border-radius: 4px 0 0 4px; 
    border-radius: 4px 0 0 4px; 
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: #e37579; 
    color: #fff; 
    text-shadow: 1px 1px 1px #666; 
}

.nav li a:hover {
    background-color: #e37579;  
    color: #fff; 
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}
.panel > .panel-heading {    background-image: none;    background-color: #e37579;    color: white; border-radius: 0;}