<html>
<head>
<title>Прайслист | НКДЛ </title>
<script src="/js/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<style type="text/css">@import url("css/style.css");</style>
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>  
<link rel="stylesheet" href="/css/price_list.css">
<link rel="stylesheet" href="/css/about.css">
</head>
<body>
<div class = "navbar navbar-fixed-top">
<div class="header" id="home" style="min-height:90px;">
    <div class="container">
      <div class="header-top">
        <div class="logo">
          <a href="/"><img src="images/logo-kaz.png" alt="" /></a>
        </div>
        <div class="top-menu">
        <span class="menu"> </span>
          <ul>
            <li><a class="active scroll" href="/#home">Главная</a></li>
            <li><a class="scroll" href="/#why">Почему мы</a></li>
            <li><a class="scroll" href="/#services">Наши услуги</a></li>
            <li><a class="scroll" href="/#certificates">Сертификаты</a></li>
            <li><a class="scroll" href="/#contact">Обратная связь</a></li>
            <li><a class="scroll" href="/#vniz">О нас</a></li>
            <li><a class="scroll" href="/#vniz">Контакты</a></li>
          </ul>
        </div>
            <!-- script-for-menu -->
            <script>
              $("span.menu").click(function(){
                $(".top-menu ul").slideToggle("slow" , function(){
                });
              });
            </script>
            <!-- script-for-menu -->
        <div class="clearfix"></div>
      </div>
     </div>
  </div>
  </div>


  <br><br><br><br><br><br><br><br>
<div class="container">
    <div class="row">
      <div class="col-md-12">
            <div class="panel with-nav-tabs panel-primary">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1primary" data-toggle="tab">О нас</a></li>
                            <li><a href="#tab2primary" data-toggle="tab">Цель и задачи</a></li>
                            <li><a href="#tab3primary" data-toggle="tab">Лицензия и сертификаты</a></li>
                            <li><a href="#tab4primary" data-toggle="tab">Коммерциализация</a></li>
                            <li><a href="#tab5primary" data-toggle="tab">Наука</a></li>
                            <li><a href="#tab6primary" data-toggle="tab">Перспективы</a></li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1primary">
Научно-образовательная лаборатория создана в соответствии с организационной структурой Университета, утвержденной решением Ученого совета (Приказ № 255 от 08.07.2008 года) и является учебно-вспомогательным подразделением КазНМУ им. С.Д. Асфендиярова и переименована лаборатория с научно-образовательной в научную клинико-диагностическую лабораторию (приказ № 4594 от 30.10.2013г).
<br>
Научная клинико-диагностическая лаборатория – это современный технопарк в Научно-исследовательском институте фундаментальной и прикладной медицины имени Б.А.Атчабарова, который входит в структуру КазНМУ имени С.Д.Асфендиярова. НКДЛ включает в себя следующие группы:
<br>
✓ группа общеклинических и гематологических исследований;<br>
✓ группа биохимических исследований;<br>
✓ группа серологических и иммунологических исследований;<br>
✓ группа молекулярно-биологических методов исследований;<br>
✓ группа клинической микробиологии;<br>
✓ группа физико-химических исследований;<br>
✓ пункт приема биоматериала.</div>
                        <div class="tab-pane fade" id="tab2primary">Участие в подготовке Университетом высококвалифицированных специалистов с высшим профессиональным и научно-педагогическим образованием, владеющих современными методами клинической лабораторной диагностики для кадрового обеспечения национальной системы здравоохранения РК.
<br><br>
Задачи НКДЛ:<br>

✓создание на базе Научной КДЛ современной, высокотехнологичной материально-технической базы образовательного и научно-исследовательского процессов в соответствии с казахстанскими и международными стандартами и критическими направлениями научных исследований Казахстана;
<br>
✓использование Научной КДЛ в качестве базы для научно-исследовательских и практических исследований, отвечающей современным требованиям при подготовке медицинских и научных кадров;
<br>
✓развитие у обучающихся компетенций практической и научной деятельности, необходимых для специалистов нового поколения, способных к эффективному применению полученных теоретических и прикладных знаний на практике;
<br>
✓создание необходимых условий для развития научного потенциала Университета, а также научно-исследовательской деятельности с использованием материально-технической базы и кадрового потенциала;
<br>
✓совмещение выполняемых фундаментальных и прикладных исследований и разработок с образовательным процессом для повышения качества подготовки молодых специалистов и специалистов высшей квалификации;
<br>
✓участие в развитии международного научно-образовательного сотрудничества Университета с ведущими научными центрами и образовательными учреждениями Республики Казахстан, а также стран ближнего и дальнего зарубежья в области лабораторной диагностики;
<br>
✓внедрение новых методов и исследований, имеющих высокую аналитическую точность и диагностическую надежность;
<br>
✓привлечение дополнительных финансовых ресурсов путем участия в национальных и международных конкурсах на получение научного гранта, организации на базе Научной КДЛ платных консультационных, лабораторных диагностических услуг, с целью развития и укрепления материально-технической базы и научно-педагогического потенциала Университета;
<br>
✓постоянное повышение квалификации сотрудников путем проведения семинаров, конференций, специализированных курсов, мастер-классов. разработка и совершенствование системы качества лаборатории.</div>
                        <div class="tab-pane fade" id="tab3primary"><img src='/images/certificate.jpg' height="50%" width="50%"><br/><img src='/images/document.jpg'  width="50%"></div>
                        <div class="tab-pane fade" id="tab4primary">С 05 января 2015 года Научная клинико-диагностическая лаборатория начала работу по оказанию платных услуг для населения города. Научная клинико-диагностическая лаборатория проводит 380 видов лабораторных услуг. А также в НКДЛ проводится исследование уникальных тестов:
<br>
✓ Интерлейкин - 1 бета, 2, 4, 6, 10, α-ФНО, γ-интерферон.
<br>
✓ Иммуноглобулины A, M, G, E
<br>
✓ Тропонин I и Т
<br>
✓ Кальпротектин
<br>
✓ Фемофлор 16
<br>
✓ Антитела к клеткам островков Лангерганса
<br>
✓ Пресепсин 
<br>
✓ Д-димер
<br>
✓ NTproBNP
<br>
✓ Эритропоэтин 
<br>
✓ Био-лактам 
<br>
✓ Глиадин </div>
                        <div class="tab-pane fade" id="tab5primary">С 2011 году на базе Научной клинико-диагностической лаборатории выполнялись следующие научно-технические программы:
<br>
1. «Разработка модели (программы) антистарения в обеспечении активного долголетия лиц пожилого возраста Казахстана» МЗ РК
<br>
2. «Программа геномных ресурсов» МЗ РК
<br>
3. «Разработка научно-обоснованной программы ранней диагностики и профилактики артериальной гипертензии у студентов различных этнических групп»
<br>
4. «Разработка молекулярно-генетического алгоритма диагностики бесплодия»
<br>
5. «Клинико-лабораторное обоснование лекарственных форм растительного происхождения при лечении патологии пародонта и слизистой оболочки полости рта»
<br>
6. «Разработка модели (программы) антистарения в обеспечении активного долголетия лиц пожилого возраста Казахстана». МЗ РК
<br>
7. «Особенности распространения трансмиссивных природно-очаговых заболеваний в казахстане» МЗ РК
<br>
8. «Q-гетерохроматин лимфоцитов крови новорожденных раннего постнатального периода»
<br>
9. «Исследование фракций гемоглобина и показателей оксидативного стресса у онкобольных»
<br>
10. «Состояние минерального обмена и уровня стоматологического статуса у беременных женщин, антенатальная профилактика стоматологических заболеваний у будущих детей»
<br>
11. «Оценка и прогноз патологических состояний, формирующихся у детей первого года жизни из группы перинатального риска»
<br>
12. «Изучение полиморфизма Q-гетерохроматиновых районов хромосом в популяциях, проживающих в РК»
<br>
13. «Социально-значимые гемоконтактные инфекции: распространенность среди студенческой молодежи Алматы, иммуномодулирующий эффект витамина Д3 при ВИЧ-инфекции»
<br>
14. «Молекулярный анализ генетических дефектов бета-клеточной функции и совершенствование диагностики моногенного сахарного диабета в казахской популяции»
<br>
15. «Внедрение лабораторно-информационной системы в НКДЛ»
<br>
16. «Изучение гемотоксического воздействия свинца хрома и возможности коррекции путем повышения адаптации организма в условиях гипобарической гипоксии»
<br>
17. «Разработка дифференцированного подхода к антицитокиновой терапии при ревматоидном артрите на основе молекулярно-генетических исследований, профилактика ранней инвалидизации и смертности»
<br>
18. «Разработка мероприятий по профилактике туберкулеза среди студентов»
<br>
19. «Изучение корригирующих свойств препаратов растительного происхождения на экспериментальной модели стрептозотоцинового диабета»
<br>
20. «Молекулярный анализ генетических дефектов бета-клеточной функции и совершенствование диагностики моногенного сахарного диабета в казахской популяции»
<br>
21. «Паркинсонизм-клинико-эпидемиологические и иммунологические исследования с целью дальнейшей разработки эффективных фармакотерапевтических средств»
<br>
22. «Особенности распространения пневмококковой инфекции в РК»
<br>
23. «Особенности распространения трансмиссивных природно-очаговых инфекции в РК»
<br>
24. «Разработка алгоритмов дифференциальной диагностики, лечения и раннего прогнозирования течения менингитов различной этиологии в г.Алматы»
<br>
25. «Клинико-фнукциональные и иммунокинетические особенности щитовидной железы при метаболическом синдроме»
<br>
26. «Исследование уровня гормонов жировой ткани у детей с абдоминальным ожирением как факторов риска формирования метаболического синдрома»</div>
                        <div class="tab-pane fade" id="tab6primary">✓ Совместно с кафедрами Университета, разработка новых подходов к обучению студентов, организация профессионального обучения, участие сотрудников НКДЛ в разработке научных программ;
✓ Участие в республиканских и международных проектах;
<br>
✓ Расширение спектра научных исследований определение функционального состояния клеток иммунной системы , в биологических средах , внедрение комбинированных молекулярно-биологических и цитометрических исследований, проведение экспериментальных исследований, направленных на изучение аспектов строения и функционирования клеток.
<br>
✓ Внедрение системы менеджмента качества лабораторных исследований (ISO 17025), подготовка к аккредитации лаборатории и совершенствование работы клинико-диагностической лаборатории для обслуживания клиник, диагностических центров и частных медицинских клиник.</div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
</body>
</html>